<mat-card>
    <form [formGroup]="postForm"(ngSubmit)="onSubmit()" novalidate>
        <mat-form-field>
            <input type="text" matInput formControlName="title" placeholder="Post Title here" required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput formControlName="content" rows="10" placeholder="Post content" required>

            </textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">
            Save post
        </button>
    </form>
</mat-card>
<app-postlist></app-postlist>