<mat-accordion multi="true" *ngIf="post.length > 0">
    <mat-expansion-panel *ngFor="let data of post">
        <mat-expansion-panel-header class="title">
            {{data.title}}
        </mat-expansion-panel-header>
        <p class="content">{{data.content}}</p>
        <mat-action-row>
            <p class="date">{{data.datetime}}</p>
            <button mat-button color="primary">Edit your post</button>
            <button (click)="removePost(data)" mat-button color="warn">Delete your post</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<h4 *ngIf="post.length<=0">No posts available yet.</h4>